<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitzgerald.cs682.assignment1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:label="Training Routine Generator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrickSelectionActivity"
            android:label="Set Your Tricks" />
        <activity
            android:name=".TrickStartActivity"
            android:label="Start Your Training" />
        <activity
            android:name=".TrickActivity"
            android:label="Time to Train!"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
