<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitzgerald.cs682.assignment1">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_image"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LaunchActivity"
            android:label="Training Routine Generator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectDogActivity"
            android:label="Select Your Dog" />
        <activity
            android:name=".TrickSelectionActivity"
            android:label="Set Your Tricks">
            <intent-filter>
                <action android:name="selectDogTricks" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrickStartActivity"
            android:label="Start Your Training" />
        <activity
            android:name=".TrickActivity"
            android:label="Now Training" />
        <activity
            android:name=".TrickResultsActivity"
            android:label="Training Results" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TrainingTips"
            android:label="@string/title_activity_training_tips"></activity>
    </application>

</manifest>
